# Web Framework
Flask==3.1.3
flask-cors==6.0.5
python-dotenv==1.2.2
Werkzeug==3.1.8

# AI & Utilities (Pilih salah satu atau keduanya sesuai kebutuhan)
google-generativeai==0.8.6


# Data handling ringan
numpy==1.26.4
pillow==11.1.0
requests==2.34.2